<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <% if (!currentUser) {%>
    <h1>Please log in</h1>
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" placeholder="password" type="text" />
      <button>Log In</button>
    </form>
  <% } else { %>
    <h1>Welcome back, <%= currentUser.username %></h1>
    <a href="/log-out">Log out</a>
  <% } %>
</body>
</html>
